body{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}

h1{
    color: black;
    background-color: bisque;
}

#show_sketch{
    float: right;
}

#score{
    font-size: 30px;
    float: left;
    margin: left 20px ;
    color:coral;
}

#timer{
    font-size: 30px;
    float: right;
    margin-right: 30px;
    color:coral;
}

canvas{
    border: 5px solid whitesmoke;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example{
    from {box-shadow: 1px 1px 38px gray;}
    to {box-shadow: 1px 1px 38px white;}

}

p{
    padding-top: 10px;
    font-size: 25px;
}